<div class="mdui-valign">
    <!-- logo 栏目 -->
    <i class="mdui-p-a-2 mdui-icon iconfont mdui-text-color-theme" style="font-size: 48px;">&#xe608;</i>
    <h1 class="mdui-text-color-theme-700 mdui-typo-headline-opacity" style="font-size: 48px;">Pi-For-All</h1>

</div> <!-- logo 栏目 -->
<div class="mdui-divider">
    <!-- 分割线 -->
</div>
<ul class="mdui-list" mdui-collapse="{accordion: true}">
    <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon mdui-text-color-theme-icon iconfont" style=";">&#xe632;</i>
        <a class="mdui-list-item-content" target="_blank" href="https://github.com/Li-Lian1069/Pi-For-All">Get this program on github.</a>
    </li>

    <li class="mdui-list-item mdui-ripple">
        <i class="mdui-icon mdui-list-item-icon material-icons ">email</i>
        <a class="mdui-list-item-content" href="javascript:mdui.snackbar('Email : m_jay_1376@163.com.');">Contact me via email</a>
    </li>

    <li class="mdui-collapse-item mdui-collapse-item-open">
        <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">payment</i>
            <span class="mdui-list-item-content">Support me</span>
            <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
            <li class="mdui-list-item" mdui-dialog="{target: '#about-alipay'}"><i class="mdui-icon mdui-list-item-icon iconfont">&#xe67b;</i><span
                    class="mdui-list-item-content">ALi Pay</span><i class="mdui-icon mdui-list-item-icon material-icons">keyboard_arrow_right</i>
                <div id="about-alipay" class="mdui-dialog">
                    <!-- 对话框 -->
                    <div class="mdui-dialog-title">ALi Pay</div>
                    <img src="https://s1.ax1x.com/2020/03/22/8IuZ8S.jpg" class="mdui-img-fluid mdui-dialog-content"></img>
                    <div class="mdui-dialog-actions"><button class="mdui-btn mdui-ripple" mdui-dialog-close>OK</button></div>
                </div>
            </li>

            <li class="mdui-list-item" mdui-dialog="{target: '#about-wechat'}"><i class="mdui-icon mdui-list-item-icon iconfont">&#xe735;</i><span
                    class="mdui-list-item-content">WeChat Pay</span><i class="mdui-icon mdui-list-item-icon material-icons">keyboard_arrow_right</i>
                <div id="about-wechat" class="mdui-dialog">
                    <!-- 对话框 -->
                    <div class="mdui-dialog-title">ALi Pay</div>
                    <img src="https://s1.ax1x.com/2020/03/22/8Iuegg.jpg" class="mdui-img-fluid mdui-dialog-content"></img>
                    <div class="mdui-dialog-actions"><button class="mdui-btn mdui-ripple" mdui-dialog-close>OK</button></div>
                </div>
            </li>
            <li class="mdui-list-item"><i class="mdui-icon mdui-list-item-icon iconfont">&#xe639;</i><a
                    href="https://afdian.net/@m-jay-1376" target="_blank" class="mdui-list-item-content">爱发电</a><i
                    class="mdui-icon mdui-list-item-icon material-icons">keyboard_arrow_right</i></li>
            <li class="mdui-list-item"><i class="mdui-icon mdui-list-item-icon iconfont">&#xe7e9;</i><a
                    href="https://www.paypal.me/mJay1376" target="_blank" class="mdui-list-item-content">PayPal</a><i
                    class="mdui-icon mdui-list-item-icon material-icons">keyboard_arrow_right</i></li>
        </ul>


    </li>

    <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">border_color</i>
        <span class="mdui-list-item-content">Version : <span id="about-version">V1.0</span></span>
    </li>


    <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">copyright</i>
        <span class="mdui-list-item-content">Copyright 2020 by M-Jay</span>
    </li>

</ul>