<!-- home Page -->
<span class="mdui-color-theme-200 mdui-center mdui-m-y-4 mdui-shadow-4" style="padding: 1px;max-width: 602px;">
    <!-- 边框 -->
    <!-- APP快捷入口 -->


    <div id="home-quick-entrance" class="mdui-center mdui-color-white mdui-m-a-0">
        <!-- 整体容器 -->
        <div class="mdui-subheader">Quick Entrance<div class="mdui-divider "></div>
        </div><!-- 说明 & 分割线 -->

        <div class="mdui-row-xs-3 mdui-row-sm-4" style="max-width: 600px;overflow: auto;">
            <!-- 图标容器 -->

            <div class="mdui-col mdui-m-y-1" style="text-align: center;">
                <a href="javascript:;"><i class="mdui-ripple mdui-icon material-icons mdui-text-color-theme-icon mdui-p-a-1 home-quick-entrance-appicon">home</i></a>
                <p class="mdui-text-color-theme-text mdui-typo-caption-opacity">App Name</p>
            </div>

        </div> <!-- 图标容器 -->

    </div> <!-- APP快捷入口 -->
</span> <!-- 边框 -->
<!-- APP快捷入口 -->

<div class="mdui-divider mdui-text-color-theme-text"></div> <!-- 分割线 -->

<span class="mdui-color-theme-200 mdui-center mdui-m-y-4 mdui-shadow-4" style="padding: 1px;max-width: 602px;">
    <!-- Msg Bar -->
    <ul class="mdui-list mdui-color-white">
        <div class="mdui-subheader">App Messages <i id="home-msg-del" class="mdui-list-item-icon mdui-icon mdui-ripple material-icons"
                onclick="">delete</i>
            <div class="mdui-divider"></div>
        </div> <!-- 顶部 描述&删除按钮 -->

        <li class="mdui-m-a-1 mdui-hoverable">
            <!-- 列表项 -->

            <a class="mdui-list-item mdui-ripple" href="javascritp:;">
                <i class="mdui-text-color-theme-icon mdui-list-item-icon mdui-icon material-icons icon-32px">home</i>
                <div class="mdui-list-item-content mdui-text-truncate">
                    <!-- 内容 -->
                    <div class="mdui-list-item-title mdui-list-item-one-line">Title<span class="mdui-float-right mdui-clearfix mdui-typo-caption-opacity">11:00
                            PM</span></div>

                    <div class="mdui-list-item-text mdui-list-item-two-line" style="white-space:normal;">line1
                        <br> line2</div>
                </div>
                <i class="mdui-list-item-icon mdui-icon material-icons">keyboard_arrow_right</i>
            </a>
        </li> <!-- 列表项 -->

    </ul>


</span> <!-- Msg Bar -->