<ul id="settings-list" class="mdui-list mdui-m-y-2" mdui-collapse="{accordion: true}">
    <li id="settings-list-apps-template" class="mdui-collapse-item" mdui-collapse="{accordion: true}">
        <!-- 这里是 apps list -->
        <div class="mdui-list-item mdui-ripple mdui-collapse-item-header">
            <i class="app-icon mdui-list-item-icon mdui-icon material-icons"></i>
            <div class="app-name mdui-list-item-content"></div>
            <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <ul class="mdui-collapse-item-body mdui-collapse-item mdui-list" mdui-collapse="{accordion: true}">
            <!-- settings-list-apps-items-template -->
        </ul>
    </li>

    <li id="settings-list-apps-items-template" class="mdui-list-item">
        <i class="mdui-list-item-icon mdui-icon"><!-- 占位图标 --></i>
        <div class="mdui-list-item-content">
            <span class="items-describe"></span>
            <span class="items-input"></span>
        </div>
        <i class="mdui-list-item-icon mdui-icon"><!-- 占位图标 --></i>
    </li>
</ul>